<%- include("./partials/header"); -%>

<div class="container">
  <div class="page-content page-container" id="page-content">
    <div class="padding">
      <h2>To-Do List</h2>
      <h4>pending tasks</h4>
      <div class="row container d-flex justify-content-center">
        <div class="col-md-12">
          <div class="card px-3">
            <div class="card-body">
              <div class="add-items d-flex">
                <form action="/add" method="post">
                  <input
                    type="text"
                    class="form-control todo-list-input"
                    placeholder="enter a task"
                    name="desc"
                  />
                  <button
                    type="submit"
                    class="add btn btn-primary font-weight-bold todo-list-add-btn"
                  >
                    Add
                  </button>
                </form>
              </div>
              <div class="list-wrapper">
                <ul class="d-flex flex-column-reverse todo-list">
                  <% rows.forEach(element => { %>
                  <li class="completed">
                    <div class="form-check">
                      <label class="form-check-label">
                        <a
                          class="no-decoration"
                          id="<%= element.isDone ? 'done' : '' %>"
                          href="update/<%= element.taskID %>"
                          ><ion-icon
                            id="icon"
                            name="checkmark-circle<%= element.isDone ? '' : '-outline' %>"
                          ></ion-icon>
                          <%= element.taskDesc %>
                        </a>
                        <label class="form-check-label">
                          created on <%=
                          moment(element.time).format("DD/MM/YYYY, hh:mm A") %>
                        </label>
                      </label>
                    </div>
                  </li>
                  <% }) %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="page-content page-container" id="page-content">
    <div class="padding">
      <h4>completed tasks</h4>
      <div class="row container d-flex justify-content-center">
        <div class="col-md-12">
          <div class="card px-3">
            <div class="card-body">
              <div class="list-wrapper">
                <ul class="d-flex flex-column-reverse todo-list">
                  <% rows.forEach(element => { %>
                  <li class="completed">
                    <div class="form-check">
                      <label class="form-check-label">
                        <a
                          class="no-decoration"
                          id="<%= element.isDone ? 'done' : '' %>"
                          href="update/<%= element.taskID %>"
                          ><ion-icon
                            id="icon"
                            name="checkmark-circle<%= element.isDone ? '' : '-outline' %>"
                          ></ion-icon>
                          <%= element.taskDesc %>
                        </a>
                        <label class="form-check-label">
                          created on <%=
                          moment(element.time).format("DD/MM/YYYY, hh:mm A") %>
                        </label>
                      </label>
                    </div>
                  </li>
                  <% }) %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("./partials/footer"); -%>
